<!DOCTYPE html> 
<head>
    <link rel="stylesheet"  href="./css/styles.css">
    <script src ="/js/app.js" defer></script>

</head>
<body>
{{>header}}
<p id ='name'>{{name}}</p>
<img src="./img/download.png"><img>
{{>footer}}

</body>
<html></html>