<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/js/app.js" defer></script>

</head>

<body>
    <h1>static file</h1>
    {{>header}}
    <form action="/weather" method="get">
        <input type="text" name="address" placeholder="location">
        <button type="submit">Search</button>
    </form>
    <p id ="message"> </p>
    <p id ="message2"> </p>
    {{>footer}}



    
</body>
<html>

</html>